
<div class="container">
  <h3 class="section-title">Выберите аккаунт MetaMask</h3>
  <select [(ngModel)]="ownerAddress" class="dropdown">
    <option *ngFor="let account of accounts" [value]="account">{{ account }}</option>
  </select>
</div>

<div class="container">
  <h3 class="section-title">Загрузить файл</h3>
  <textarea [(ngModel)]="fileContent" class="input-field" placeholder="Введите содержимое файла"></textarea>
  <input type="text" [(ngModel)]="encryptionKey" class="input-field" placeholder="Введите ключ шифрования" />
  <button (click)="uploadEncryptedFile()" class="button">Загрузить</button>
</div>

<div class="container">
  <h3 class="section-title">Получить файл</h3>
  <input type="text" [(ngModel)]="ownerAddress" class="input-field" placeholder="Адрес владельца" />
  <input type="number" [(ngModel)]="fileId" class="input-field" placeholder="ID файла" />
  <input type="text" [(ngModel)]="decryptionKey" class="input-field" placeholder="Введите ключ расшифровки" />
  <button (click)="getDecryptedFile()" class="button">Получить данные файла</button>
  <pre *ngIf="fileData" class="output">{{ fileData }}</pre>
</div>

<div class="container">
  <h3 class="section-title">Файлы пользователя</h3>
  <input type="text" [(ngModel)]="ownerAddress" class="input-field" placeholder="Адрес владельца" />
  <button (click)="getUserFiles()" class="button">Получить файлы</button>
  <ul *ngIf="userFiles" class="file-list">
    <li *ngFor="let file of userFiles.fileHashes; let i = index" class="file-item">
      ID: {{ userFiles.fileIds[i] }}, Хэш: {{ file }}
    </li>
  </ul>
</div>
