<div class="container">
  <h3 class="section-title">Выберите аккаунт MetaMask</h3>
  <select [(ngModel)]="ownerAddress" class="dropdown">
    <option *ngFor="let account of accounts" [value]="account">{{ account }}</option>
  </select>
</div>

<div class="container">
  <h3 class="section-title">Загрузить файл</h3>

  <!-- Текстовый файл -->
  <div class="file-upload">
    <label for="fileInput">Выберите текстовый файл:</label>
    <input type="file" (change)="onFileChange($event)" class="file-input" id="fileInput" />
    <button *ngIf="selectedFile" (click)="removeFile('file')" class="remove-file">Удалить файл</button>
    <div *ngIf="selectedFile" class="file-info">
      <span>Выбран файл:</span> {{ selectedFile.name }}
    </div>
  </div>

  <!-- Файл ключа шифрования -->
  <div class="file-upload">
    <label for="encryptKeyInput">Выберите файл ключа шифрования:</label>
    <input type="file" (change)="onEncryptKeyFileChange($event)" class="file-input" id="encryptKeyInput" />
    <button *ngIf="selectedEncryptKeyFile" (click)="removeFile('encryptKey')" class="remove-file">Удалить ключ шифрования</button>
    <div *ngIf="selectedEncryptKeyFile" class="file-info">
      <span>Выбран файл ключа:</span> {{ selectedEncryptKeyFile.name }}
    </div>
  </div>

  <button (click)="uploadEncryptedFile()" class="button">Загрузить</button>
</div>

<div class="container">
  <h3 class="section-title">Получить файл</h3>
  <input type="number" [(ngModel)]="fileId" class="input-field" placeholder="ID файла" />
  <div class="file-upload">
    <label for="decryptKeyInput">Выберите файл ключа дешифрования:</label>
    <input type="file" (change)="onDecryptKeyFileChange($event)" class="file-input" id="decryptKeyInput" />
    <button *ngIf="selectedDecryptKeyFile" (click)="removeFile('decryptKey')" class="remove-file">Удалить ключ дешифрования</button>
    <div *ngIf="selectedDecryptKeyFile" class="file-info">
      <span>Выбран файл ключа:</span> {{ selectedDecryptKeyFile.name }}
    </div>
  </div>
  <button (click)="getDecryptedFile()" class="button">Получить файл</button>
</div>

<div class="container">
  <h3 class="section-title">Файлы пользователя</h3>
  <button (click)="getUserFiles()" class="button">Получить файлы</button>
  <ul *ngIf="userFiles" class="file-list">
    <li *ngFor="let file of userFiles.fileIds; let i = index" class="file-item">
      <p><strong>ID файла:</strong> {{ file }}</p>
      <p><strong>Название файла:</strong> {{ userFiles.fileNames[i] }}</p>
      <p><strong>Время создания:</strong> {{ userFiles.timestamps[i] }}</p>
      <button (click)="deleteFile(file)" class="remove-file">Удалить</button>
    </li>
  </ul>
</div>


