<div>
  <button (click)="connectMetaMask()">Подключить MetaMask</button>
</div>

<div>
  <h3>Загрузить файл</h3>
  <textarea [(ngModel)]="fileContent" placeholder="Введите содержимое файла"></textarea>
  <input type="text" [(ngModel)]="encryptionKey" placeholder="Введите ключ шифрования" />
  <button (click)="uploadEncryptedFile()">Загрузить</button>
</div>

<div>
  <h3>Получить файл</h3>
  <input type="text" [(ngModel)]="ownerAddress" placeholder="Адрес владельца" />
  <input type="number" [(ngModel)]="fileId" placeholder="ID файла" />
  <input type="text" [(ngModel)]="decryptionKey" placeholder="Введите ключ расшифровки" />
  <button (click)="getDecryptedFile()">Получить данные файла</button>
  <pre *ngIf="fileData">{{ fileData }}</pre>
</div>

<div>
  <h3>Файлы пользователя</h3>
  <input type="text" [(ngModel)]="ownerAddress" placeholder="Адрес владельца" />
  <button (click)="getUserFiles()">Получить файлы</button>
  <ul *ngIf="userFiles">
    <li *ngFor="let file of userFiles.fileHashes; let i = index">
      ID: {{ userFiles.fileIds[i] }}, Хэш: {{ file }}
    </li>
  </ul>
</div>
